@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Lato-Regular.ttf'); /* IE9 Compat Modes */
	src: local('') /* Modern Browsers */ url('/fonts/Lato-Regular.ttf') format('truetype');
}
